--
-- PostgreSQL database dump
--

\restrict ek1gnDeGFAcgjbeJFLMcVXjgRX8FbzEemMLxU7vp3yAxqPeudtChABjaSddxDi0

-- Dumped from database version 16.12
-- Dumped by pg_dump version 16.12

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: cert_cas; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.cert_cas (
    id text NOT NULL,
    tenant_id text NOT NULL,
    name text NOT NULL,
    parent_ca_id text,
    ca_level text NOT NULL,
    algorithm text NOT NULL,
    ca_type text NOT NULL,
    key_backend text NOT NULL,
    key_ref text DEFAULT ''::text NOT NULL,
    cert_pem text NOT NULL,
    subject text DEFAULT ''::text NOT NULL,
    status text DEFAULT 'active'::text NOT NULL,
    ots_current bigint DEFAULT 0 NOT NULL,
    ots_max bigint DEFAULT 0 NOT NULL,
    ots_alert_threshold bigint DEFAULT 0 NOT NULL,
    signer_wrapped_dek bytea NOT NULL,
    signer_wrapped_dek_iv bytea NOT NULL,
    signer_ciphertext bytea NOT NULL,
    signer_data_iv bytea NOT NULL,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    updated_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    signer_kek_version text DEFAULT 'legacy-v1'::text NOT NULL,
    signer_fingerprint_sha256 text DEFAULT ''::text NOT NULL
);


ALTER TABLE public.cert_cas OWNER TO postgres;

--
-- Name: cert_certificates; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.cert_certificates (
    id text NOT NULL,
    tenant_id text NOT NULL,
    ca_id text NOT NULL,
    serial_number text NOT NULL,
    subject_cn text NOT NULL,
    sans_json text DEFAULT '[]'::text NOT NULL,
    cert_type text NOT NULL,
    algorithm text NOT NULL,
    profile_id text DEFAULT ''::text NOT NULL,
    protocol text DEFAULT 'rest'::text NOT NULL,
    cert_class text DEFAULT 'classical'::text NOT NULL,
    cert_pem text NOT NULL,
    status text DEFAULT 'active'::text NOT NULL,
    not_before timestamp without time zone NOT NULL,
    not_after timestamp without time zone NOT NULL,
    revoked_at timestamp without time zone,
    revocation_reason text DEFAULT ''::text NOT NULL,
    key_ref text DEFAULT ''::text NOT NULL,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    updated_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public.cert_certificates OWNER TO postgres;

--
-- Data for Name: cert_cas; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: cert_certificates; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Name: cert_cas cert_cas_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.cert_cas
    ADD CONSTRAINT cert_cas_pkey PRIMARY KEY (tenant_id, id);


--
-- Name: cert_cas cert_cas_tenant_id_name_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.cert_cas
    ADD CONSTRAINT cert_cas_tenant_id_name_key UNIQUE (tenant_id, name);


--
-- Name: cert_certificates cert_certificates_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.cert_certificates
    ADD CONSTRAINT cert_certificates_pkey PRIMARY KEY (tenant_id, id);


--
-- Name: cert_certificates cert_certificates_tenant_id_serial_number_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.cert_certificates
    ADD CONSTRAINT cert_certificates_tenant_id_serial_number_key UNIQUE (tenant_id, serial_number);


--
-- Name: idx_cert_cas_parent; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_cert_cas_parent ON public.cert_cas USING btree (tenant_id, parent_ca_id);


--
-- Name: idx_cert_certs_ca; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_cert_certs_ca ON public.cert_certificates USING btree (tenant_id, ca_id);


--
-- Name: idx_cert_certs_not_after; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_cert_certs_not_after ON public.cert_certificates USING btree (tenant_id, not_after);


--
-- Name: idx_cert_certs_status; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_cert_certs_status ON public.cert_certificates USING btree (tenant_id, status);


--
-- PostgreSQL database dump complete
--

\unrestrict ek1gnDeGFAcgjbeJFLMcVXjgRX8FbzEemMLxU7vp3yAxqPeudtChABjaSddxDi0

